include ../../components/header/header
include ../../components/footer/footer

doctype html
html(lang="ru" dir="ltr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" lang="ru" content="UnitCode Test Page")
    meta(name="keywords" content="UnitCode, TestPage, Pegasus")
    link(rel="icon" href="favicon.ico")
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
    link(rel="manifest" crossorigin = "use-credentials" href="pegasus.webmanifest")
    link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")

    title Pegasus
  body
    header
      +header
    block page
    footer
      +footer


