include ../contacts/contacts
include ../menu-burger/menu-burger

mixin header
  div.header
    div.header__logo
      div.header__logo-block
        div.header__logo-block-img
    div.header__contacts
      +contacts({theme: "orange"})
    div.header__menu-wrapper
      div.header__menu
        +menu-burger