.footer
  background: url("img/footer.jpg") no-repeat center center
  background-size: cover

  &__menu
    display: flex
    flex-direction: column
    align-items: center

    &-block
      text-align: center
      padding: 37px 0 34px
      &-title
        font-family: Romul, Arial, sans-serif
        font-weight: normal
        font-size: 19px
        letter-spacing: - .2px
        text-transform: uppercase
        line-height: 100%
        margin: 0
        color: white

      &-separator
        width: 66px
        border: 1px solid #D0AA8C
        margin-top: 18px
        margin-bottom: 27px

      &-items
      &-item
        list-style: none
        &-ref
          font-size: 15px
          font-weight: normal
          text-decoration: none
          color: white
          line-height: 24px
          opacity: .75

          &:hover
            opacity: 1

    &-separator
      height: 1px
      width: 100%
      border: none
      background-color: white
      margin: 0
      opacity: .75

  &__copyright
    font-size: 15px
    text-align: center
    color: rgba(255, 255, 255, 0.3)
